/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.loading-screen {
  position: fixed;
  inset: 0;
  background: #fafafa;
  z-index: 9999;
  overflow: hidden;
}

/* SKELETON BASE */
.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb;
  border-radius: 12px;
}

/* SHIMMER */
.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
